In [101]:
import pandas as pd
import numpy as np
df = pd.read_csv("heart.csv")
df

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [102]:
df.loc[:, 'zscore'] = (df.RestingBP - df.RestingBP.mean()) / df.RestingBP.std()
df = df[(df.zscore>-3)&(df.zscore<3)]
df.shape

(910, 13)

In [103]:
df.loc[:, 'zscore'] = (df.Cholesterol - df.Cholesterol.mean()) / df.Cholesterol.std()
df = df[(df.zscore>-3)&(df.zscore<3)]
df.shape

(907, 13)

In [104]:
df.loc[:, 'zscore'] = (df.Oldpeak- df.Oldpeak.mean()) / df.Oldpeak.std()
df = df[(df.zscore>-3)&(df.zscore<3)]
df.shape

(900, 13)

In [105]:
df.loc[:, 'zscore'] = (df.Age - df.Age.mean()) / df.Age.std()
df = df[(df.zscore>-3)&(df.zscore<3)]
df.shape

(900, 13)

In [106]:
df

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,zscore
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0,-1.427805
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1,-0.475543
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0,-1.745226
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1,-0.581350
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0,0.053491
...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1,-0.898771
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1,1.534788
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1,0.370912
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1,0.370912
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0,-1.639419

In [107]:
df = df.drop(['zscore'] , axis = 'columns')
df.shape

(900, 12)

In [108]:
df.ChestPainType.describe()

count     900
unique      4
top       ASY
freq      484
Name: ChestPainType, dtype: object

In [109]:
df = df.copy()
df.ExerciseAngina.replace(
    {
        'N': 0,
        'Y': 1
    },
    inplace=True)

df.ST_Slope.replace(
    {
        'Down': 1,
        'Flat': 2,
        'Up': 3
    },
    inplace=True
)

df.RestingECG.replace(
    {
        'Normal': 1,
        'ST': 2,
        'LVH': 3
    },
    inplace=True)

df

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,1,172,0,0.0,3,0
1,49,F,NAP,160,180,0,1,156,0,1.0,2,1
2,37,M,ATA,130,283,0,2,98,0,0.0,3,0
3,48,F,ASY,138,214,0,1,108,1,1.5,2,1
4,54,M,NAP,150,195,0,1,122,0,0.0,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,1,132,0,1.2,2,1
914,68,M,ASY,144,193,1,1,141,0,3.4,2,1
915,57,M,ASY,130,131,0,1,115,1,1.2,2,1
916,57,F,ATA,130,236,0,3,174,0,0.0,2,1
917,38,M,NAP,138,175,0,1,173,0,0.0,3,0

In [112]:
df = pd.get_dummies(df, drop_first=True).astype(int)
df

,Age,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,Sex_M,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA
0,40,140,289,0,1,172,0,0,3,0,1,1,0,0
1,49,160,180,0,1,156,0,1,2,1,0,0,1,0
2,37,130,283,0,2,98,0,0,3,0,1,1,0,0
3,48,138,214,0,1,108,1,1,2,1,0,0,0,0
4,54,150,195,0,1,122,0,0,3,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,110,264,0,1,132,0,1,2,1,1,0,0,1
914,68,144,193,1,1,141,0,3,2,1,1,0,0,0
915,57,130,131,0,1,115,1,1,2,1,1,0,0,0
916,57,130,236,0,3,174,0,0,2,1,0,1,0,0
917,38,138,175,0,1,173,0,0,3,0,1,0,1,0

In [114]:
X = df.drop("HeartDisease",axis='columns')
y = df.HeartDisease

In [115]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X = scaler.fit_transform(X)
X

array([[-1.42859937,  0.46558517,  0.85055001, ...,  2.0647416 ,
        -0.53452248, -0.22941573],
       [-0.47580769,  1.6349075 , -0.16584549, ..., -0.4843221 ,
         1.87082869, -0.22941573],
       [-1.7461966 , -0.11907599,  0.79460163, ...,  2.0647416 ,
        -0.53452248, -0.22941573],
       ...,
       [ 0.37111824, -0.11907599, -0.62275723, ..., -0.4843221 ,
        -0.53452248, -0.22941573],
       [ 0.37111824, -0.11907599,  0.35633935, ...,  2.0647416 ,
        -0.53452248, -0.22941573],
       [-1.64033085,  0.34865294, -0.21246914, ..., -0.4843221 ,
         1.87082869, -0.22941573]])

In [117]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=30)

In [118]:
from sklearn import svm
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression

model_params = {
    'svm': {
        'model': svm.SVC(gamma='auto'),
        'params' : {
            'C': [1,10,20],
            'kernel': ['rbf','linear']
        }  
    },
    'random_forest': {
        'model': RandomForestClassifier(),
        'params' : {
            'n_estimators': [1,5,10]
        }
    },
    'logistic_regression' : {
        'model': LogisticRegression(solver='liblinear',multi_class='auto'),
        'params': {
            'C': [1,5,10]
        }
    }
}

In [119]:
scores = []

for model_name, mp in model_params.items():
    clf =  GridSearchCV(mp['model'], mp['params'], cv=5, return_train_score=False)
    clf.fit(X_train, y_train)
    scores.append({
        'model': model_name,
        'best_score': clf.best_score_,
        'best_params': clf.best_params_
    })
    
df1 = pd.DataFrame(scores,columns=['model','best_score','best_params'])
df1

                 model  best_score                   best_params
0                  svm    0.861111  {'C': 1, 'kernel': 'linear'}
1        random_forest    0.837500           {'n_estimators': 5}
2  logistic_regression    0.854167                      {'C': 1}

In [120]:
from sklearn.decomposition import PCA

pca = PCA(0.95)
X_pca = pca.fit_transform(X)
X_pca

array([[-2.81930218,  0.27772917, -1.39770217, ...,  0.01628411,
         0.36095313, -0.25158239],
       [-0.69619118,  0.77601624,  1.27594399, ..., -1.24578946,
         0.86157156,  0.12583232],
       [-1.78528966, -0.02266504, -1.45904026, ...,  0.32294206,
         1.13398937,  1.1312319 ],
       ...,
       [ 1.55734492, -0.51834893, -1.06705043, ..., -0.2042118 ,
        -0.23687856, -0.32051875],
       [-1.86097207,  1.75132738,  0.02615242, ..., -0.86242877,
         0.94065967, -1.05405704],
       [-2.10499882, -0.88981899,  1.06087059, ..., -0.55589654,
         0.1004899 ,  0.04056636]])

In [121]:
X_train_pca, X_test_pca, y_train, y_test = train_test_split(X_pca, y, test_size=0.2, random_state=30)

In [122]:
scores = []

for model_name, mp in model_params.items():
    clf =  GridSearchCV(mp['model'], mp['params'], cv=5, return_train_score=False)
    clf.fit(X_train_pca, y_train)
    scores.append({
        'model': model_name,
        'best_score': clf.best_score_,
        'best_params': clf.best_params_
    })
    
df2 = pd.DataFrame(scores,columns=['model','best_score','best_params'])
df2

                 model  best_score                   best_params
0                  svm      0.8625  {'C': 1, 'kernel': 'linear'}
1        random_forest      0.8375          {'n_estimators': 10}
2  logistic_regression      0.8500                      {'C': 1}